---
layout: default
title: Roster
---
<div id="roster">
  <section class="header">
    <h2>Roster</h2>
  </section>
  <div class="container">
    <div class="grid">
      {% for player in site.roster2020 %}
      <div class="grid-item" data-name="{{ player.short }}">
        <img src="{{ player.img_url }}" class="picture" />
        <p class="metadata">{{ player.name }} | <em>#{{ player.number }}</em></p>
      </div>
      {% endfor %}

    </div>
    {% for player in site.roster2020 %}
    <div class="background" id="{{ player.short }}">
      <div class="pop">
        {{ player.content }}
      </div>
    </div>
    {% endfor %}
  </div>

</div>
