<head>
  <title>Cal UGMO | {{ page.title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/assets/favicon.png">
  <meta charset="UTF-8">
  <meta name="description" content="Official website for UC Berkeley Men's Ultimate Team, Cal UGMO">
  <meta name="keywords" content="CalUGMO, UGMO, Ultimate, Ultimate Frisbee">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
  <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
  <script src="{{ site.baseurl }}/assets/script.js"></script>
</head>
