<header class="site-header">
  <div class="wrapper">
    <!-- <img class="logo" src="{{ site.url }}/assets/images/website_gold-navy.png" /> -->
    <a href="{{ site.baseurl }}/" class="logo"></a>
    <div class="description"><p><em>UC Berkeley's Men's Ultimate Team</em></p></div>
    <ul id="sidebar-list">
      <li id="news-bar"><a href="{{ site.baseurl }}/">Monkey News</a></li>
      <li id="roster-bar"><a href="{{ site.baseurl }}/roster.html">Meet the Monkeys</a></li>
      <li id="media-bar"><a href="{{ site.baseurl }}/media.html">Monkey Media</a></li>
      <li id="thugmo-bar"><a href="{{ site.baseurl }}/thugmo.html">Thugmo</a></li>
      <li id="about-bar"><a href="{{ site.baseurl }}/about.html">About the Monkeys</a></li>
    </ul>
  </div>
</header>
