/*
 * VARIABLES
 */
:root {
  --ugmo-blue: #041E42;
  --ugmo-gold: #FFC72C;
  --light-gray-accent: #d5d5d5;
  --light-gray: #f5f5f5;
  --white: #fcfcfc;
  --black: #202020;
}
/*
 * ENTIRE SITE
 */
body {
  font-family: Roboto, sans-serif;
  margin: 0px;
  background-color: var(--light-gray);
  max-width: 100%;
  overflow-x: hidden;
}

/*
 * SITE HEADER
 */
.site-header {
  background-color: var(--ugmo-blue);
  position: fixed;
  left: 0px;
  top: 0px;
  width: 20rem;
  min-width: 200px;
  max-width: 500px;
  height: 100%;
}

.site-header .logo {
  width: 20rem;
  height: 20rem;
  margin: auto;
  display: block;
  background: url("/assets/images/website_gold-navy.png") center no-repeat;
  background-size: 18rem;
}

.site-header .logo:hover {
  background-image: url("/assets/images/website_navy-gold.png");
}

.site-header .description {
  color: var(--white);
  text-align: center;
}

.site-header .wrapper ul {
  padding: 0px;
}

.site-header .wrapper li {
  text-align: center;
  width: 100%;
  list-style-type: none;
  vertical-align: middle;
  display: block;
  border-top: #274975 1px solid;
  font-size: 1.3rem;
}

.site-header .wrapper li:first-child {
  border-top: none;
}

.site-header .wrapper li:hover {
  background-color: var(--ugmo-gold);
  color: var(--ugmo-blue);
}

.site-header a {
  text-decoration: none;
  color: var(--white);
  padding: 30px 0;
  display: block;
}

.site-header .wrapper li:hover a {
  color: var(--ugmo-blue);
}

.site-header .wrapper .active {
  color: var(--ugmo-gold);
}

/*
 * WRAPPER
 */
.page-content > .wrapper {
  padding-left: 20rem;
}

/*
 * NEWS
 */
#news:before {
  background-image: url('./images/silly_monkeys_1.jpg');
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  display: block;
  height: 15rem;
  width: 100%;
}
#news > .container {
  width: 40rem;
  margin: auto;
}
#news #header {
  background-color: var(--light-gray-accent);
  padding: 1rem;
}
#news #header h2 {
  color: var(--ugmo-blue);
  width: 40rem;
  margin: auto;
}
.post_header .post_title {
}
.post_header .post_date {
  text-align: left;
}
.post_header .post_source {
  float: right;
}

/*
 * THUGMO
 */
#thugmo:before {
  background-image: url('./images/team_photo_1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  display: block;
  height: 15rem;
  width: 100%;
}
#thugmo > .container {
  width: 40rem;
  margin: auto;
}

#thugmo #header{
  background-color: var(--light-gray-accent);
  padding: 1rem;
}
#thugmo #header h2 {
  color: var(--ugmo-blue);
  width: 40rem;
  margin: auto;
}

/*
 * ABOUT
 */
#about:before {
  background-image: url('./images/social_1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  display: block;
  height: 15rem;
  width: 100%;
}
#about > .container {
  width: 40rem;
  margin: auto;
}

#about #header{
  background-color: var(--light-gray-accent);
  padding: 1rem;
}
#about #header h2 {
  color: var(--ugmo-blue);
  width: 40rem;
  margin: auto;
}
/*
 * MEDIA
 */
#media:before {
  background-image: url('./images/backdrop_1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  display: block;
  height: 15rem;
  width: 100%;
}
#media > .container {
  width: 90%;
  margin: auto;
  padding-top: 10px;
}

#media #header{
  background-color: var(--light-gray-accent);
  padding: 1rem;
}
#media #header h2 {
  color: var(--ugmo-blue);
  width: 40rem;
  margin: auto;
}
#media .grid-item, .grid-sizer {
  width: 106.6666px;
  height: 106.6666px;
  margin-bottom: 10px;
  opacity: 0.7;
}
#media .grid-item:hover {
  opacity: 1;
  cursor: pointer;
}
#media .grid-item-long {
  width: 320px;
  height: 214px;
}
#media .grid-item-tall {
  width: 214px;
  height: 320px;
}
/*
 * ROSTER
 */
#roster:before {
  background-image: url('./images/tuna_max_1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  display: block;
  height: 15rem;
  width: 100%;
}
#roster > .container {
  width: 40%;
  margin: auto;
}

#roster #header{
  background-color: var(--light-gray-accent);
  padding: 1rem;
}
#roster #header h2 {
  color: var(--ugmo-blue);
  width: 40rem;
  margin: auto;
}
#roster .grid {
}
#roster .grid-item {
  width: 100px;
  height: 100px;
  background-color: red;
  margin: 15px;
}
